body {
  font-family : Microsoft JhengHei UI;
  font-size : 20px;
  color : darkblue;
  background : #ECDBEA;
}

.paragraph {
  font-family : Bahnschrift;
  font-size : 26px;
  color : #140137;
  border : 3px darkblue solid;
  background : lightblue;
}

.coding {
  font-family : DejaVu Sans;
  color : darkred;
}

#link1 {
  color : darkblue;
  font-family : Microsoft JhengHei UI;
  font-size : 24px;
}

#link2 {
  font-family : Comic Sans MS;
  color : silver;
  text-decoration : none;
}

#link3 {
  font-family : Comic Sans MS;
  color : silver;
  text-decoration : none;
}
